/* navbar section */

.navbar {
    border-bottom: 3px solid #363062;
}

.navbar .navbar-brand {
    color: #363062;
    font-size: 1000;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}


.navbar .nav-link {
    margin-left: 40px;
    color: #fff;
    font-size: 700;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar .nav-link:hover {
    color: #363062;
}

.navbar .navbar {
    border-bottom: none;
}

.navbar .btn {
    color: #363062;
    border-color: #363062;
}

.navbar .btn:hover {
    color: #363062;
}

/* team section */


.cards .items {
    position: relative;
    border-radius: 10px;
    height: 500px;
    /* background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1)); */
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    margin: 10px;
    overflow: hidden;
}

.cards .items .imagebx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    border-radius: 10px;
    overflow: hidden;
    transform-origin: top;
}

.cards .items:hover .imagebx {
    transform: translateY(30px) scale(0.5);
}

.cards .items .imagebx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .items .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}

.cards .items:hover .content {
    transform: translateY(0);
}

.cards .items .content .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cards .items .content .details h2 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.cards .items .content .details span {
    font-size: 0.8em;
    font-weight: 400;
    color: #03a9f4;
}

.socials {
    position: relative;
    display: flex;
    margin-top: 5px;
}

.socials li {
    margin: 4px;
    list-style: none;
}

.socials li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #294d69;
    border-radius: 20%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}


.socials li a:hover {
    transform: rotate(10deg);
    background: #2196f3;
}

/* subscribtion section */

#price {
    background: #bbb;
}

.subs {
    height: 500px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    margin: 0 5px;
    z-index: 1;
    transition: all 0.8s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.subs::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    /* background: linear-gradient(to bottom rgba(0,176,155,0.5), rgba(150,201,61,1)); */
    transform: translateX(100%);
    z-index: -1;
    transition: all 0.8s ease;
}

.subs:hover::before {
    transform: translateX(0);
}

.subs .price {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subs .price h1 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}

.subs:hover .price h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}

.subs .price h2 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
    cursor: pointer;
}

.subs:hover .price h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
    cursor: pointer;
}

.subs .price p {
    color: #000;
    font-size: 15px;
    margin-bottom: -10px;
    cursor: pointer;
}

.subs:hover .price p {
    color: #fff;
    font-size: 15px;
    margin-bottom: -10px;
    cursor: pointer;
}

.subs .details {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subs .details i {
    list-style: none;
    top: 20px;
    height: 50px;
    width: 50px;
    color: #000;
    cursor: pointer;
}

.subs:hover .details i {
    color: #fff;
    cursor: pointer;
}

.subs .details h2 {
    color: var(--text);
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.subs .details .options {
    text-align: center;
    cursor: pointer;
}

.subs:hover .details .options {
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.subs .details .options h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.subs input {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #bbb;
}

.subs input:hover {
    background: linear-gradient(to right, var(--clr1), var(--clr2));
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);

}


/* blog section */

 .post {
    border-radius: 10px;
    padding: 3rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5 ease-in-out;
} 

.post:hover {
    transform: translateY(20px);
}

.post:before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.post:hover:before {
    opacity: 1;
}

.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.post .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.post:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.post .info h1 {
    margin: 0;
}

.post .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.post .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.post .info .btn:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

/* footer section */

#footer{
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    width: 100%;
}
