/* navbar section */

.navbar {
    border-bottom: 3px solid #363062;
}

.navbar .navbar-brand {
    color: #363062;
    font-size: 1000;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}


.navbar .nav-link {
    margin-left: 40px;
    color: #fff;
    font-size: 700;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar .nav-link:hover {
    color: #363062;
}

.navbar .navbar {
    border-bottom: none;
}

.navbar .btn {
    color: #363062;
    border-color: #363062;
}

.navbar .btn:hover {
    color: #363062;
}

/* card section */



/* footer section */

#footer{
    background-color: rgb(61, 60, 60);
    width: 100%;
}
